[Unit]
Description=Netconf Proxy listening and transforming SNMP traps
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt
ExecStart=/opt/netconf-proxy.py -d
Restart=always


[Install]
WantedBy=multi-user.target