[Unit]
Description=Snmp to netconf Proxy
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt
ExecStart=/opt/netconf-gw.py
Restart=always


[Install]
WantedBy=multi-user.target